*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.sub-container{
    max-width: 1270px;
    margin: 0 auto;
}
.header{
    border-bottom: solid #f0eded;
}
.header-line{
    display: flex;
    align-items: center;
}
.header-logo-text{
    position: absolute;
    margin-left: 103px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    border-right: 1px solid #E6E8EC;
    padding-right: 32px;
}
.nav{
    margin-left: 75.33px;
}
.nav-item{
    margin-right: 32px;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    color: black;
}
.main-form{
    position: relative;
}
.search-bar{
    border: 2px solid #f0eded;
    border-radius: 10px;
    padding: 8px 10px;
    margin-left: 320px;
    width: 220px;
    margin-right: 32px;
}
.tochka{
    margin-top: -25px;
    margin-right: 24px;
}
.upload button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height: 40px;
    background: #3772FF;
    border-radius: 90px;
    border: 0;
    cursor: pointer;
    margin-right: 44px;
}
.wallet button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.main-container{
    max-width: 1170px;
    margin: 0 auto;
}
.main-head-text1{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #777E90;
    font-weight: 700;
    text-align: center;
    padding-top: 128px;
}
.main-head-text2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 8px;
}
.main-head-btn {
    padding-top: 22px;
    display: flex;
    justify-content: center;
}
.main-head-btn button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 180px;
    height: 50px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.main-head-btn button:hover{
    border: 0;
    background-color: #3772FF;
    color: white;
}
.slider-item{
    display: flex;
}
.slider-item img{
    border-radius: 15px;
}
.main-slider{
    padding-top: 75px;
    margin-bottom: 130px;
}
.main-section{
    margin-bottom: 130px;
}
.slider-info{
    margin-left: 128px; 
}
.wallet button:hover{
    border: 0;
    background-color: #3772FF;
    color: white;
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.slider-head{
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    max-width: 550px;
    margin-bottom: 20px;
}
.main-form img{
    position: absolute;
    top: 7px;
    right: 50px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.slider-avatar img{
    max-width: 40px;
    max-height: 60px;
    border-radius: 50%;
}
.slider-pic{
    display: flex;
}
.slider-line{
    display: flex;
    margin-bottom: 40px;
}
.slider-desc{
    margin-left: 8px;
}
.slider-pic:not(:last-child){
    margin-right: 110px;
}
.slider-category{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #777E90;
    line-height: 20px;
}
.slider-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 14px;
    color: #23262F;
    line-height: 24px;
}
.box-timer{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.box-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: #23262F;
}
.box-cur{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
.box-price{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #777E90;
    margin-bottom: 24px;
}
.box-information{
    color: #23262F;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.box-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
}
.box-time:not(:last-child){
    margin-right: 20px;
}
.box-number{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}
.box-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.slider-box{
    margin-bottom: 40px;
    padding: 30px 16px;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border: 2px solid #E6E8EC;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 56px;
}
.slider-btns{
    position: relative;
}
.btn2{
    background-color: red;
}
.slider-btns button{
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 400px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 20px;
    position:relative;
}
.slider-btns button:hover{
    background-color: #3772FF;
    color: white;
}
.slick-prev:before {
    content: '←';
}
.slick-prev:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
    color: black;
}
.main-section .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    margin-top: -30px;
    margin-left: 1050px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.sellers-block .slick-arrow{
    position: absolute;
    top: 60%;
    z-index: 10;
    font-size: 0;
    border: 0;
    background: 0;
}
.sellers-block .slick-arrow:hover{
    border: 1px solid black;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px;
}
.sellers-block .slick-arrow.slick-prev{
    left: 0;
    margin-left: 300px;
}
.sellers-block .slick-arrow.slick-next{
    right: 0;
    margin-right: 300px;
}
.slick-next:before {
    content: '→';
}
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next:before {
    color: black;
}
.main-section .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    margin-top: -30px;
    margin-left: 1050px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.information-line{
    display: flex;
}
.first-column-img img{
    border-radius: 20px;
}
.info-avatar img{
    max-width: 48px;
    border-radius: 50%;
    max-height: 72px;
}
.first-column-info{
    display: flex;
    margin-top: 25px;
    align-items: center;
}
.info-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #23262F;
}
.info-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #353945;
}
.info-desc{
    margin-left: 16px;
}
.price-column{
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.price-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E90;
}
.price-price{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 7px;
    box-shadow: inset 0 0 0 2px #45B26B;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #45B26B;
    margin-left: 15px;
}
.first-column1:not(:last-child){
    margin-right: 30px;
}
a{
    text-decoration: none;
}
.main-row{
    display: flex;
    border-right: 1px solid #E6E8EC;
    margin-right: 30px;
    padding-right: 30px;
}
.first-column1:not(:first-child){
    display: flex;
    flex-direction: column;
}
.jopa-kota:not(:last-child) {
    margin-bottom: 25px;
}
.second-column-line{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.second-column-avatar img{
    max-width: 24px;
    max-height: 36px;
    border-radius: 50%;
}
.second-column-img img{
    border-radius: 20px;
    width: 160px;
    height: 150px;
}
.second-column-head{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #23262F;
}
.summary{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 1.66667;
    color: #777E90;
    margin-left: 15px;
}
.second-column-desc{
    margin-left: 20px;
    margin-top: 20px;
}
.jopa-kota{
    display: flex;
}
.second-column-btn button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.second-column-btn button:hover{
    background-color: #3772FF;
    color: white;
}
.secondary-section{
    display: flex;
}
.slidebar-man{
    display: flex;
}
.slidebar-man-avatar img{
    max-height: 56px;
    max-width: 56px;
    border-radius: 50%;
}
.slidebar-man{
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.slidebar-man-avatar{
    position: relative;
}
.man-number{
    position: absolute;
    top: -4px;
    left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #FCFCFD;
    background: #23262F;
    font-size: 12px;
    font-weight: 600;
    color: #FCFCFD;
}
.slidebar-man-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;   
}
.slidebar-man-cur{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;   
}
.slidebar-man-desc{
    margin-left: 16px;
}
.slidebar-man:not(:last-child) {
    border-bottom: 1px solid #E6E8EC;
}
.slidebar-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #777E90;
    margin-bottom: 25px;
}
.slidebar-btn button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 140px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.slidebar-btn button:hover{
    background-color: #3772FF;
    color: white;
}
.seller{
    display: flex;
}
.sellers-head{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}
.seller-info{
    margin-right: auto;
}
.seller-pop{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #777E90;
}
.seller-text{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #23262F;
}
.sell-time{
    min-width: 250px;
    position: relative;
}
.sellers-block{
    padding-top: 100px;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 100px;
    background-color: #F4F5F6;
}
.rating{
    display: flex;
    background-color: #3772FF;
    align-items: center;
    height: 24px;
    margin-right: auto;
    padding: 0 8px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 600;
}
.sellers-num{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-left: 5px;
}
.sellers-item{
    padding: 24px;
    border-radius: 16px;
    background: #FCFCFD;
    transition: box-shadow .2s;
    background-color: rgb(255, 254, 254);
    margin-right: 15px;
    margin-left: 15px;
}
.sellers-head1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    border-bottom: 1px solid #E6E8EC;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.sellers-nav{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3px;
}
.sellers-add-img{
    margin-right: 25px;
    position: relative;
}
.img2{
    position: absolute;
    margin-left: -15px;
    margin-top: 4.6px;
}
.sellers-ctrelka img{
    width: 16px;
    height: 16px;
    margin-top: 1.5px;
}
.info-image img{
    height: 67px;
    width: 67px;
}
.sellers-info-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
}
.sellers-info-cur{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-top: 2px;
}
.sellers-info{
    text-align: center;
}
.hot-block{
    position: relative;
    margin-bottom: 100px;
}
.hot-head{
    margin-bottom: 64px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #23262F;
}
.hot-linemiami{
    display: flex;
    margin-top: 15px;
}
.hot-avatar img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid white;
}
.hot-pic{
    display: flex;
    margin-right: auto;
}
.hot-column-img img{
    border-radius: 20px;
}
.hot-column-img{
    position: relative;
}
.ada{
    margin-right: auto;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #23262F;
}
.eth{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 7px;
    box-shadow: inset 0 0 0 2px #45B26B;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #45B26B;
    margin-left: 15px;
}
.hot-column{
    width: 256px;
    margin-right: 15px;
    margin-left: 15px;
}
.hot-stock{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #353945;
}
.hot-column-cur{
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 1px solid black;
    margin-top: 8px;
    padding-top: 8px;
}
.hbid{
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #777E90;
    font-size: 12px;
}
.sell-time input{
    float: none;
    height: 48px;
    padding: 0 48px 0 16px;
    box-shadow: inset 0 0 0 2px #E6E8EC;
    background: #FCFCFD;
    border-radius: 12px;
    border: none;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
}
.nbid{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #777E90;
}
.line-hot:not(:last-child){
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #23262F;
}
.hotcoll{
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    background-color: #F4F5F6;
}
.hotcoll-line-img{
    display: flex;
}
.hotcoll-column:not(:last-child){
    margin-right: auto;
}
.hotcoll-head{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #23262F;
    margin-bottom: 68px;
}
.hotcoll-main-img img{
    width: 352px;
    height: 240px;
    border-radius: 8px;
}
.line-img-hot img{
    width: 112px;
    height: 75px;
    border-radius: 8px;
}
.line-img-hot:not(:last-child){
    margin-right: 8px;
}
.line-hot{
    display: flex;
    text-align: center;
    margin-top: 10px;
}
.line-hot img{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.bywho{
    margin-right: auto;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #353945;
}
.colitems{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #E6E8EC;
}
.hottcoll-main{
    display: flex;
}
.discover-block{
    padding-top: 100px;
    padding-bottom: 140px;
    border-bottom: 1px solid #E6E8EC;
}
.dis-line{
    display: flex;
    margin-bottom: 60px;
}
.dis-btn{
    display: flex;
    justify-content: center;
}
.dis-btn button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.dis-btn button:hover{
    border: 0;
    background-color: #3772FF;
    color: white;
}
.sell-time-btn{
    position: absolute;
    border: 1px solid black;
    font-size: 1;
    top: 50%;
    right: 8px;
    width: 32px;
    height: 32px;
    font-size: 0;
    border-radius: 50%;
}
.discover-head{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #23262F;
    margin-bottom: 68px;
    margin-left: 15px;
}
.discover-line{
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 1115px;
}
.dis-nav{
    display: flex;
    margin-right: auto;
}
.dis-nav a{
    padding: 6px 12px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #777E90;
}

.dis-nav a:not(:last-child){
    margin-right: 30px;
}
.dis-nav a:first-child{
    margin-left: 30px;
}
.dis-nav a:hover{
    background: #353945;
    color: #FCFCFD;
    border-radius: 14px;
}
.dis-filter button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height: 40px;
    background: #3772FF;
    border-radius: 90px;
    border: 0;
    cursor: pointer;
}
.rec-add{
    margin-right: auto;
}
.discover-line{
    border-bottom: 1px solid #E6E8EC;
}
.pre-footer-main{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pre-footer-main-img{
    position: relative;
}
.pre-footer{
    position: relative;
}
.pre-footer-main{
    align-items: center;
}
.pre-img:not(:first-child) {
    position: absolute;
}
.pre-img{
    right: -11%;
    bottom: -3.5%;
}
.pre-head-text{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #777E90;
}
.pre-main-text{
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.02em;
    font-family: 'DM Sans', sans-serif;
}
.pre-sub-text{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: #777E90;
}
.pre-sub-btns button{
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.pre-sub-btns button:not(:last-child){
    margin-right: 20px;
}
.pre-sub-btns button:hover{
    border: 0;
    background-color: #3772FF;
    color: white;
}
.footer-avatar img{
    width: 128px;
    margin-bottom: 32px;
}
.footer-information{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #23262F;
    max-width: 256px;
    font-size: 24px;
}
.footer{
    padding-top: 100px;
    border-top: 1px solid #E6E8EC;
}
.footer-main-row{
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E8EC;
}
.footer-column:not(:first-child){
   display: flex;
}
.f-h{
    color: #23262F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.footer-column-sub:not(:last-child){
    margin-right: 140px;
}
.footer-column{
    margin-right: auto;
}
.f-m-info{
    color: #777E90;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.f-m-info:first-child{
    margin-top: 40px;
}
.f-m-info:not(:first-child){
    margin-top: 24px;
}
.last-col-info{
    margin-bottom: 24px;
}
.footer-column1 .f-h{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #23262F;
}
.footer-column1{
    width: 320px;
}
.email-blin{
    position: relative;
}
.email-blin__input{
    width: 250px;
    height: 48px;
    padding: 0 48px 0 14px;
    border-radius: 24px;
    background: none;
    border: 2px solid #E6E8EC;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #23262F;
}
.email-blin__btn{
    position: absolute;
    top: 10px;
    right: 18px;
    bottom: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #3772FF;
    border: 0;
    cursor: pointer;
}
.footer-sub-row{
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}
.copy{
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #777E90;
}
.footer-sub-row a{
    margin-left: 16px;
    font-weight: 600;
    color: #3772FF;
    font-family: 'Poppins', sans-serif;
}
.cookies{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #23262F;
}
.sell-time-btn{
    position: absolute;
    top: 8px;
    right: 25px;
    bottom: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FCFCFD;
    border: 0;
    cursor: pointer;
}
.navi-davi button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.navi-davi{
    margin-right: auto;
}
.navi-davi button:hover{
    background-color: #3772FF;
    color: white;
}
.sub-container{
    display: flex;
    align-items: center;
}
.navigation-control{
    display: flex;
}
.control-c0l:not(:last-child){
    margin-right: 25px;
}
.control-c0l a{
    margin-right: 25px;
    color: #777E90;
}
.control-c0l{
    font-family: 'DM Sans', sans-serif;
    color: #575c69;
}
.navigation{
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid #E6E8EC;
}
.upload-main-block{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.upl-head{
    margin-bottom: 80px;
}
.upl-head-text1{
    margin-bottom: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #23262F;
}
.upl-head-text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777E90;
}
.upl-head-text2 span {
    color: #23262F;
    font-weight: 500;
}
.upl-img img{
    border-radius: 20px;
    margin-bottom: 24px;
}
.upl-btn button{
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.upl-btn button:hover{
    background-color: #3772FF;
    color: white;
}
.upl-variants{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.upl-card{
    margin: 0 16px;
    padding: 16px 16px 24px;
    border-radius: 16px;
    border: 1px solid #E6E8EC;
}
.upl-sign{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #777E90;
}
.item-block{
    padding-top: 128px;
    padding-bottom: 85px;
}
.item-block-head{
    display: flex;
}
.item-block-head-text2 button{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    width: 140px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.item-block-head-text2 button:hover{
    background-color: #3772FF;
    color: white;
}
.item-block-head-text1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #23262F;
    width: 400px;
    margin-right: auto;
    margin-bottom: 40px;
}
.hug{
    display: flex;
}
.item-block-col1{
    width: 818px;
    padding-right: 128px;
}.file-choose-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 182px;
    margin-top: 16px;
    border-radius: 16px;
    overflow: hidden;
    background: #F4F5F6;
}
.file-choose-box input{
    top: 0;
    left: 0;
    font-size: 400px;
    opacity: 0;
    position: absolute;
    border: 1px solid black;
}
.file-choose-box-img img{
    margin-bottom: 15px;
}
.file-choose-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #23262F;
    margin-bottom: 4px;
}
.file-choose-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #777E90;
}
.file-choose-box-form{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #777E90;
}
.file-choose-details-block-inp-row{
    display: flex;
    margin-top: 45px;
    border-bottom: 1px solid #E6E8EC;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.file-column-head, .info-o-blocke{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #B1B5C3;
}
.file-column-inp input{
    width: 180px;
    height: 48px;
    padding: 0 48px 0 14px;
    border-radius: 15px;
    background: none;
    border: 2px solid #E6E8EC;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #23262F;
}
.file-column{
    margin-right: auto;
}
.inp-detl input{
    width: 700px;
    height: 30px;
    padding: 0 48px 0 14px;
    border-radius: 15px;
    background: none;
    border: 2px solid #E6E8EC;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #23262F;
}
.file-choose-details-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #23262F;
    margin-top: 40px;
}
.file-choose-details-block-inp{
    margin-top: 32px;
}
.info-o-blocke{
    margin-bottom: 20px;
}
.item-conf-col-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #23262F;
    margin-bottom: 15px;
}
.item-conf-col-main{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #777E90;
}
.item-conf-row{
    margin-bottom: 50px;
}
.item-conf-blocks-bloc{
    flex-shrink: 0;
    width: 120px;
    margin: 0 4px;
    padding: 24px;
    border-radius: 16px;
    background: #F4F5F6;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    cursor: pointer;
    margin-right: auto;
}
.item-conf-blocks{
    display: flex;
}
.item-conf-blocks-bloc-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 12px;
    background-color: #3772FF;
}
.item-conf-blocks-bloc-text{
    width: 110px;
}
.item-btn a{
    margin-right: auto;
}
.item-btn button{
    font-family: 'DM Sans', sans-serif;
    width: 160px;
    height: 40px;
    background: #3772FF;
    color: white;
    border: 1px solid #f0eded;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.item-btn button:hover{
    background: #1957e7;
}
.item-btn{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.item-btn img{
    width: 130px;
}
.auto-saving{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #23262F;
}
.item-block-col2{
    box-shadow: 0px 0px 26px 23px rgba(34, 60, 80, 0.1);
    padding-top: 20px;
    max-height: 550px;
    border-radius: 20px;
}
.hc-head{
    margin-bottom: 22px;
    color: #23262F;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.close-block{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.close-block img{
    margin-right: 10px;
}
.clear-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #777E90;
}
.wallet-head a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #23262F;
}
.wallet-head{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E6E8EC;
}
.wallet-main-row-img-circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin-right: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #23262F;
}
.wallet-main-row{
    display: flex;
}
.wallet-main-row-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #23262F;
}
.wallet-main{
    display: flex;
    margin-right: auto;
}
.wallet-main-row{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 64px;
    margin-right: auto;
    align-items: center;
}
.wallet-main-column2 img{
    border-radius: 25px;
}
.wallet-main-column1{
    margin-right: auto;
}
.connect-your-wallet{
    padding-bottom: 136px;
}